# .github/workflows/docker-build.yml
name: Build & Push

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:  # This line makes it manually runnable

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    env:
      IMAGE_TAG: ghcr.io/vikramdahri/mysql-exporter:latest

    steps:
      - uses: actions/checkout@v4

      - name: Set repository to lowercase
        id: slug
        run: echo "DOCKER_REPOSITORY=${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          # Only push on workflow_dispatch, not on pull_request
          push: ${{ github.event_name == 'workflow_dispatch' }}
          tags: ${{ env.IMAGE_TAG }}