name: mysql-exporter-docker

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  flake8:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install flake8
        run: python -m pip install flake8

      - name: Run flake8 (non-blocking)
        run: python -m flake8 . || echo "flake8 found issues"

  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Create lowercase repo path
        run: echo "REPO_LOWER=${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          #tags: ghcr.io/${{ github.repository_owner }}${{ github.repository }}/mysql-exporter:latest
          tags: ghcr.io/${{ env.REPO_LOWER }}/mysql-exporter:latest